@{
    ViewData["Title"]="Details";
}

<h1>@ViewData["Title"]</h1>
<div>
    
   <form>
  <div class="form-group">
    <label for="id">Id</label>
    <input type="number" class="form-control" id="id" placeholder="Enter Id">
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter Password">
  </div>
  <div class="form-group">
    <label for="contactNumber">Contact Number</label>
    <input type="text" class="form-control" id="contactNumber" placeholder="Enter Contact Number">
  </div><br>
  <button type="submit" class="btn btn-primary">Register</button>
</form>


</div>