@{
    ViewData["Title"] = "Home Page";
}

    <div>
    <h1>Full Stack Developer Course</h1>
    <ol>
        <li>Concepts of Programming & Operating System    - 72 Hours</li>
           <li>Object Oriented Programming with Java    - 104 Hours</li> 
            <li>Algorithms and Data Structures (Using Java)    - 72 Hours</li>
            <li>Database Technologies    - 72 Hours</li>
            <li>Web Programming Technologies    - 112 Hours</li>
            <li>Web-based Java Programming    - 104 Hours</li>
            <li>Microsoft .Net Technologies    - 84 Hours</li>
            <li>Software Development Methodologies    - 80 Hours</li>
            <li>General Aptitude & Effective Communication    - 80 Hours</li>
            <li>Project    - 120 Hours</li>
    </ol>
    <button ><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdmissionForm">Join Now</a></button>
   

    </div>