@{
    ViewData["Title"] = "Registered";
}


<style>
    body{
        background-color: bisque;

    }
    img{
        align-items: left;
        width: 300px;
    }
    </style>

    <div>
        <h2>Congrats on being member of sutta bar!</h1>
        </div>