@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Room no.28</h1>
    <p> <a href="https://github.com/Eklavya-San">For more web-apps join our github</a>.</p>
</div>
 