@{
    ViewData["Title"] = "Home Page";
}
<style>
  body{
    background-color:beige;
  }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome To Foodies</h1>
    <p> <a href="https://github.com/Eklavya-San">For more web-apps join our github</a>.</p>
</div>
 