@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color: bisque;

    }
    img{
        align-items: left;
        width: 300px;
    }
    </style>

<div class="text-center">
    <h1>Somanth  aka Ishwar Tapri Wala!</h1>
    
</div>
<div style="align-items: right; margin-left: 300
px;">
<img src="https://m.media-amazon.com/images/I/91V4Ldpn5sL._SY879_.jpg" alt="">
<h1>Welcome to chai sutta bar</h1>
</div>